# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/
build/
out/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo